body{
    font-family: "Poiret One";
    background-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 6rem;
    color: yellow;
}

h2{
    font-size: 4rem;
    color: white;
}

p{
    font-family: "Poiret One";
    font-size: 40px;
    color: white;
}

.container{
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
}

.style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button{
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background: yellow;
    color: black;
}

.link:hover{
    cursor: pointer;
    background-color: goldenrod;
    transform: scale(1.2);
    transition-duration: 120ms;
}

.link[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* scroll animation */

.fade{
    position: relative;
    min-height: 60vh;
    top: -25px;
    z-index: 1;
}

#start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: yellow;
    min-width: 100%;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }

@keyframes crawl {
    0% {
      top: 100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

.opening{
    display: flex

}

#finalScore{
    display: flex;
    justify-content: center;
}

#finish{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finishForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    width: 100%;
}

input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
}

input::placeholder{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

.finishText{
    font-size: 2rem;
    text-align: center;
}

#saveScore{
    font-family: "Poiret One";
    justify-content: center;
    margin: 2rem;
    border: none;
}

#finishButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

@media screen and (max-width: 600px){
    body{
        background-color: lightblue;
    }
}